@using RentalCompany.Utility;
@model RentHeaderDto

@{
	ViewData["Title"] = "Details";
}

<form method="post">
	<input asp-for="@Model.Id" hidden />
	<br />
	<div class="container">
		<div class="card p-1">
			<div class="card-header text-bg-dark mt-1 mx-2">
				<div class="row">
					<div class="col-6 col-md-6 py-2">
						Details
					</div>
					<div class="col-6 my-auto text-end">
						<a asp-action="Index" class="btn btn-outline-info form-control w-50 btn-sm">Back to Orders</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-primary">Rent Details</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">Name</div>
								<div class="col-9">
									@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
									{
										<input asp-for="@Model.ApplicationUserDto.Name" type="text" class="form-control" />
										<span asp-validation-for="@Model.ApplicationUserDto.Name" class="text-danger"></span>
									}
									else
									{
										<input asp-for="@Model.ApplicationUserDto.Name" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Phone</div>
								<div class="col-9">
									@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
									{
										<input asp-for="@Model.ApplicationUserDto.PhoneNumber" type="text" class="form-control" />
										<span asp-validation-for="@Model.ApplicationUserDto.PhoneNumber" class="text-danger"></span>
									}
									else
									{
										<input asp-for="@Model.ApplicationUserDto.PhoneNumber" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Address</div>
								<div class="col-9">
									@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
									{
										<input asp-for="@Model.ApplicationUserDto.StreetAddress" type="text" class="form-control" />
										<span asp-validation-for="@Model.ApplicationUserDto.StreetAddress" class="text-danger"></span>
									}
									else
									{
										<input asp-for="@Model.ApplicationUserDto.StreetAddress" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">City</div>
								<div class="col-9">
									@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
									{
										<input asp-for="@Model.ApplicationUserDto.City" type="text" class="form-control" />
										<span asp-validation-for="@Model.ApplicationUserDto.City" class="text-danger"></span>
									}
									else
									{
										<input asp-for="@Model.ApplicationUserDto.City" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">State</div>
								<div class="col-9">
									@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
									{
										<input asp-for="@Model.ApplicationUserDto.State" type="text" class="form-control" />
										<span asp-validation-for="@Model.ApplicationUserDto.State" class="text-danger"></span>
									}
									else
									{
										<input asp-for="@Model.ApplicationUserDto.State" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Zip Code</div>
								<div class="col-9">
									@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
									{
										<input asp-for="@Model.ApplicationUserDto.PostalCode" type="text" class="form-control" />
										<span asp-validation-for="@Model.ApplicationUserDto.PostalCode" class="text-danger"></span>
									}
									else
									{
										<input asp-for="@Model.ApplicationUserDto.PostalCode" readonly type="text" class="form-control" />
									}
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Email</div>
								<div class="col-9">
									<input asp-for="@Model.ApplicationUserDto.Email" readonly type="text" class="form-control" />
								</div>
							</div>
							@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
							{
								<div class="row my-1">
									<div class="col-3">Session ID</div>
									<div class="col-9">
										<input asp-for="@Model.SessionId" type="text" readonly class="form-control" />
									</div>
								</div>
								<div class="row my-1">
									<div class="col-3">Payment Intent ID</div>
									<div class="col-9">
										<input asp-for="@Model.PaymentIntendId" type="text" readonly class="form-control" />
									</div>
								</div>
							}
							<div class="row my-1">
								<div class="col-3">Payment Date</div>
								<div class="col-9">
									<input value="@Model.PaymentDate.ToShortDateString()"
										   readonly id="paymentDate" type="text" class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">Rent Status</div>
								<div class="col-9">
									<input asp-for="@Model.RentStatus" type="text" readonly class="form-control" />
								</div>
							</div>							
							<div class="row my-1">
								<div class="col-3">Payment Status</div>
								<div class="col-9">
									<input asp-for="@Model.RentPaymentStatus" type="text" readonly class="form-control" />
								</div>
							</div>
							<input type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control mt-3" value="Update Order Details" />

						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Rent Summary</span>
							</h4>
							<ul class="list-group mb-3">

									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">
												<h6 class="my-0 text-primary">Model:</h6>
											</div>
											<div class="col-4 text-end">
												<p class="text-success">@Model.CarDto.Name</p>
											</div>
										</div>
									</li>
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">
												<h6 class="my-0 text-primary">Price for one day:</h6>
											</div>
											<div class="col-4 text-end">
												<p class="text-success">@Model.CarDto.DayRentalPrice.ToString("c")</p>
											</div>
										</div>
									</li>
										<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">
											<h6 class="my-0 text-primary">Start Date:</h6>
											</div>
											<div class="col-4 text-end">
												<p class="text-success">@Model.StartDate.ToShortDateString()</p>
											</div>
										</div>
									</li>
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">
											<h6 class="my-0 text-primary">End Date:</h6>
											</div>
											<div class="col-4 text-end">
											<p class="text-success">@Model.EndDate.ToShortDateString()</p>
											</div>
										</div>
									</li>
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">
											<h6 class="my-0 text-primary">Pickup rental store:</h6>
											</div>
											<div class="col-4 text-end">
											<p class="text-success">@Model.PickupRentalStore.Name</p>
											</div>
										</div>
									</li>
									<li class="list-group-item d-flex justify-content-between p-2">
										<div class="row container">
											<div class="col-8">
											<h6 class="my-0 text-primary">Return rental store:</h6>
											</div>
											<div class="col-4 text-end">
											<p class="text-success">@Model.ReturnRentalStore.Name</p>
											</div>
										</div>
									</li>
								<li class="list-group-item bg-info">
									<div class="row container">
										<div class="col-6">
											<h5 class="text-white">TOTAL </h5>
										</div>
										<div class="col-6 text-end">
											<h5 class="text-white">@Model.TotalCost.ToString("c")</h5>
										</div>
									</div>
								</li>
							</ul>
							@if (User.IsInRole(Constants.RoleAdmin) || User.IsInRole(Constants.RoleEmployee))
							{
								@if (Model.RentStatus != Constants.StatusRefunded &&
										Model.RentStatus != Constants.StatusCancelled)
								{
									<input type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1" value="Cancel Order" />
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}